<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <% if(!nome){ %>
    <h1>Faça login para continuar!</h1>
    <% } %>
    <% if(nome){ %>
    <h1>Bem vindo ao seu perfil!</h1>
    <% listaPerfil.forEach((nome) => { %>
        <p><a href="/perfil/<%=nome%>"><%= nome %></a></p>
    <% }) %>
    <% } %>
</body>
</html>